* {
  border: 1px solid gold;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', arial;
}
body {
  text-align: center;
  min-height: 100vh;
  margin: 0;
}
/* Navbar */
header {
  display: flex;
  justify-content: center;
  background-color: #1f2937;
  color: #f9faf8;
  margin: 0;
  padding: 10px;
}
.header {
  width:70%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a {
  padding: 10px;
}
/* Title and picture */
#main {
  width: 50%;
}
.title {
  margin:0;
  padding: 10px;
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 70%;
  padding: 15px;
  display: flex;
  flex-flow: row;
  align-items: center;
}
.innerTitle {
  justify-content: flex-start;
  flex-wrap: no-wrap;
  flex-direction: column;
  padding: 0px;
  text-align: left;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
  color:#f9faf8;
}
.secondary{
  margin-top: 5px;
  color: #e5e7eb;
  font-size: 18px;
  width: 90%;
}

/* Picture section */
.white {
  background-color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row {
  width: 170px;
}
.content-info img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 4px solid #3882F6;
  border-radius: 15px;
  margin: 5px 20px 0px 20px;
}
/* Quote section */
.gray {
  background-color: #e5e7eb;
  color: #1f2937
}
.quote {
  display: flex;
  flex-direction: column;
  background-color: #E5E7EB;
  padding: 100px;
}
.quote b {
  padding-bottom: 20px;
  padding-right: 10px;
  font-family: 'Roboto', arial;
  text-align: right;
}
.quote p {
  font-size: 36px;
  color: #1F2937;
  font-style: italic;
  font-weight: lighter;
  font-family: 'Roboto', arial;
}
/* blue box */
#bottom {
  border-color:#e5e7eb;
}
button {
  padding: 8px 25px;
  color: #f9faf8;
  background-color: #3882f6;
  border-radius: 5px;
  margin-top: 5px;
}

.action {
  background-color:#3882f6;
  color:#e5e7eb;
  text-align: left;
  padding: 10px;
  gap: 50px;
  justify-content: space-around;
  flex-direction: row;
}

footer {
  align-items: center;
  background-color: #1f2937;
  color:#e5e7eb;
  padding: 10px;
  height: 4rem;
}
body {
  width:auto;
  height: auto;
}